<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="l-box">
      <%= image_tag @device.picture_link, class: 'pure-img' %>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="l-box">
      <div class="device" id="device-<%= @device.id %>">
        <ul class="pure-list">
          <li><b>Name</b></li>
          <li><%= @device.name %></li>
          <li><b>Operating System</b></li>
          <li><%= @device.operating_system %></li>
          <li><b>Screen Width</b></li> 
          <li><%= @device.screen_width %> px</li>
          <li><b>Screen Height</b></li>
          <li><%= @device.screen_height %> px</li>
          <li><b>Model Number</b></li>
          <li><%= @device.model_number %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-u-1">
    <h3>Actions</h3>
    <ul class="pure-list pure-list-horizontal">
      <li><%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_device_path(@device.id), class: 'pure-button' %></li>
      <li><%= link_to '<i class="fa fa-trash-o"></i> Remove'.html_safe, device_path(@device.id), method: 'delete', class: 'pure-button' %></li>
    </ul>
  </div>
</div>