<div class="content-wrapper">
  <div class="content content-center">
    <h1 class="text-center">Device Database <small>Add a new Device</small></h1>
    <div class="l-box">
      <%= form_for @device, html: { class: "pure-form pure-form-stacked" } do |f| %>
        <fieldset>
          <legend>Please enter the Device information.</legend>
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Device Name', class: 'pure-input-1' %>
          <%= f.label :operating_system %>
          <%= f.text_field :operating_system, placeholder: 'Operating System', class: 'pure-input-1' %>
          <%= f.label :screen_width %>
          <%= f.text_field :screen_width, placeholder: 'Screen Width in px', class: 'pure-input-1' %>
          <%= f.label :screen_height %>
          <%= f.text_field :screen_height, placeholder: 'Screen Height in px', class: 'pure-input-1' %>
          <%= f.label :model_number %>
          <%= f.text_field :model_number, placeholder: 'Model- or Part- Number', class: 'pure-input-1' %>
        </fieldset>
        <fieldset>
          <%= f.label :picture_link %>
          <%= f.text_field :picture_link, placeholder: 'URL for Picture', class: 'pure-input-1' %>
        </fieldset>
        <fieldset class="pull-right">
        <%= link_to 'Cancel', :back, class: 'pure-button pure-button-cancel' %>
        <%= f.submit 'Update Entry', class: 'pure-button' %>
        </fieldset>
        <div class="clear"></div>
      <% end %>
    </div>
  </div>
</div>