<div id="bg" class="background-image">
  <script type="text/javascript">
    document.getElementById('bg').style.backgroundImage = 'url(http://az619519.vo.msecnd.net/files/AitBenhaddou_EN-US9642287930_1920x1200.jpg)'
  </script>
</div>

<div class="content-wrapper">
  <div class="content content-center">
    <h2 class="text-center">Log In</h2>

    <%= form_for(resource, html: { class: 'pure-form pure-form-aligned'}, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset>
              <div class="pure-control-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="pure-control-group">
                <%= f.label :password %>
                <% if @validatable %>
                <% end %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="pure-controls">
                <% if devise_mapping.rememberable? -%>
                  <label for="cb" class="pure-checkbox">
                    <%= f.check_box :remember_me %> Remember me
                  </label>
                <% end -%>
                <%= f.submit "Login", class: 'pure-button' %>
              </div>
            </fieldset>


    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>